.post-header {
    margin-bottom: 3rem;
}

.post-content {
    font-size: 1.6rem;
    margin: 0 0 1rem 0;
}

.question-content {
    margin-right: 3rem;
}

.post-container {
    padding-left: 5rem;
}

.details-small {
    margin-left: 1rem !important;
    font-style: italic;
    font-size: 1.2rem;
}

.inline-link {
    padding-left: 0px !important;
    padding-top: 0px !important;
}

.no-left-pad {
    padding-left: 0px;
}

.pageHeader {
  padding-right: 40px;
}

.suggestion-item {
    border: 0.2rem;
    border-style: groove;
    border-radius: 1rem;
    padding: 1rem;
    height: 23rem;
    max-height: 23rem;
}

.suggestion-item-text {
    max-height: 18rem;
    height: 18rem;
    overflow: hidden;
}

.api-icon {
    height: 3rem;
    width: 3rem;
    display: inline;
}

.suggestion-container {
    margin-top: 3rem;
}
