.app-header {
    margin-bottom: 0;
    background-color: #B0C5E7;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 2.7rem;
    padding: 2.5rem 0 0 3rem;
    height: 5.5rem;
}

.app-search-bar {
    padding-bottom: 0.8rem !important;
    margin-bottom: 0 !important;
    padding-left:5rem;
    min-width: 30rem;
    width:80%;
    background: transparent;
    color: #ffffff;
}

.app-header-icon {
    padding-top: 1.8rem !important;
    padding-bottom: 0.8rem !important;
    margin-bottom: 0 !important;
    width: 5rem;
    background: transparent;
    border-style: none;
}

.white {
    color: #ffffff;
}

.space-buffer {
    width: 1rem;
}
