#wrapper {
  padding-left: 0px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  width: 100%;
  background: #778899;
  position: relative;
  height: 1000px;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}

.subtopic {
    color: #ffffff;
    font-size: 1.4rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 0 0 60px;
}

.app-footer {
    padding-top: 10rem;
    a{
        padding-left: 1.5rem;
        color: #ffffff;
    }

    color: #ffffff;
    padding: 0 0 2rem 3.5rem;
}

.subtopic-link {
    text-align: left;
    text-indent: 0;
    padding-left: 1.5rem !important;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 85%;
  overflow-y: scroll;
}

.sidebar-nav li {
  line-height: 4rem;
  text-indent: 2rem;
}

.sidebar-nav li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding-left: 3rem;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 2rem;
  line-height: 1.8rem;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 6.5rem;
  line-height: 6rem;
  font-size: 1.8rem;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}



.content-header {
  height: 6.5rem;
  line-height: 6.5rem;
}

.content-header h1 {
  margin: 0;
  margin-left: 2rem;
  line-height: 6.5rem;
  display: inline-block;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
  color: #000;
}

.inset {
  padding: 2rem;
}

@media (max-width:7.67rem) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 2.5rem;
}

#wrapper.active #sidebar-wrapper {
  left: 25rem;
  width: 25rem;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 1.5rem;
}

}
